//javascripts

script(src='/javascripts/components/jquery/dist/jquery.min.js')
script(src="/javascripts/components/moment/min/moment.min.js")

script(src='/javascripts/components/bootstrap/dist/js/bootstrap.min.js')

script(src='/javascripts/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')


script(src='/javascripts/components/bootstrap-notify/js/bootstrap-notify.js')




script(src="/javascripts/components/d3/d3.min.js")
script(src="/javascripts/components/datejs/build/production/date.min.js")

script(src="/javascripts/components/lodash/lodash.min.js")

script(src="/javascripts/components/socket.io-client/socket.io.js")

//script(src="/javascripts/components/underscore/underscore-min.js")
script(src="/javascripts/components/underscore.nest/underscore.nest.min.js")

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJRwBdsxrL3PeKwu0Av3Tdlg5bkJfed0g")

//script(src="/javascripts/gpstracker/gpstracker.js")




script(src="/javascripts/components/flippant.js/flippant.min.js")

//stylesheets 
 
link(rel='stylesheet', href='/javascripts/components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/javascripts/components/bootstrap/dist/css/bootstrap.min.css')


// material bootstrap
link(href="/javascripts/components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet")
//link(rel="stylesheet"  href="/stylesheets/bpty-material.css")

link(href="/javascripts/components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet")

link(href="/javascripts/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet")

link(rel='stylesheet', href='/javascripts/components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css')
link(rel='stylesheet', href="/javascripts/components/bootstrap-notify/css/bootstrap-notify.css")
link(rel="stylesheet"  href="/javascripts/components/flippant.js/flippant.css")

link(rel='stylesheet', href='/stylesheets/tracker.css')
