include gpstracker_menu

block content
	div.row(style="margin-left:10px;margin-bottom:10px;width:420px; margin: 10px auto;")
		.jumbotron(style="background:#ffffff;text-align:center")
			img(src="images/gpslog.png" width="300px" style="margin:10px auto")
			h2(style="margin:10px auto;text-align:center") 
				span(style="color:black") realtime
				b(style="color:black")  gps²tracker
				br
				br
				small
					p(style="font-size:18px") tk5000 supported ....
					button.btn.btn-primary.btn-xs(onClick="window.location.href='/gpslog'") Log
				br
				span(style="color:grey;font-size:10px") cactus | <b>interactive stuff</b> | gpstrackerv0.1 - alpha version 

	
	
	
			p receiving from TK5000:  #{title}
			span gps log:
			div(id="log")

			script.
				var socket = io.connect('ws://localhost:5005');

				socket.on('gpslog', function(log){
					console.log(log);
					document.getElementById("log").innerHTML += "<br>"+JSON.stringify(log);
				});

	
	include includes/material

			

